@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

:root {
  --primary: #d775f7;
  --dark-primary: #8a2aaa;
}

body {
  background-color: var(--primary);
}

body, input, ::placeholder, button {
  font-family: 'Nunito', sans-serif;
}

::placeholder {
  color: lightgray;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formContainer {
  display: flex;
  flex-flow: row;
  width: 100%;
  color: white;
}

.formContainer .inputTODO {
  height: inherit;
  border-radius: 50px;
  background-color: transparent;
  border: white 2px solid;
  color: white;
  transition: 0.5s ease;
  outline: none;
  height: 30px;
  width: 70%;
  padding-left: 10px;
}

.formContainer .inputTODO:focus {
  border-color: var(--dark-primary);
  outline: none;
}

.formContainer .addItem {
  display: inline-block;
  width: 30%;
  height: 100%;
  color: white;

  background-color: var(--dark-primary);
  border-radius: 5px;
  /* padding: 1rem 2rem; */
  /* border: 1px solid white; */
  border: none;
  margin-left: 50px;
}

.items-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  width: 70vw;
  padding: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin: 1%;
  background-color: white;
  border-radius: 3px;
  padding: 10px;
}

.item .title {
  color: var(--primary);
  left: 0;
  text-align: left;
  /* position: absolute; */
}

.item .date {
  color: var(--primary);
  right: 0;
  /* position: absolute; */
}

.item .check {
  color: white;
  border: none;
  outline: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  margin-right: 15px;
}

.item .push {
  color: white;
  border: none;
  outline: none;
  background-color: var(--dark-primary);
  font-size: 20px;
  cursor: pointer;
  margin-left: 15px;
}

.item .delete {
  color: white;
  border: none;
  outline: none;
  background-color: red;
  font-size: 20px;
  cursor: pointer;
  margin-left: 15px;
}